@model IEnumerable<_24CV_WEB.Models.Curriculum>

<h1 class="text-center">Lista de curriculums</h1>

<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Fecha Nacimiendo</th>
                    <th>CURP</th>
                    <th>Image Path</th>
                    <th>Foto</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.Apellidos</td>
                        <td>@item.FechaNacimiento</td>
                        <td>@item.CURP</td>
                        <td>@item.RutaFoto</td>
                        <td>
                            @if(!string.IsNullOrEmpty(item.RutaFoto)){
                                <img src="~/Fotos/@item.RutaFoto" width="150" height="150">
                            }
                        </td>
                        <td>
                            <a type="button" class="btn btn-outline-success" asp-action="CView" asp-controller="Validaciones" asp-route-id="@item.Id">Editar</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-danger" asp-action="EliminarDatos" asp-controller="Validaciones" asp-route-id="@item.Id">Eliminar</button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>